:root{
    --bright-orange: hsl(31,77%,52%);
    --dark-cyan: hsl(184,100%,22%);
    --very-dark: hsl(179, 100%,13%);
    --trans-white: hsla(0, 0%, 100%, 0.75);
    --very-light: hsl(0,0%,95%);
}

body{
    background-color:var(--very-light)
}
.ad{
    border-radius:10px;

}
.orange{
    background-color:var(--bright-orange);
    border-radius: 10px 10px 0px 0px;
}

.green{
    background-color: var(--dark-cyan);
}

.dark-green{
    background-color: var(--very-dark);
    border-radius: 0px 0px 10px 10px;
}

h1{
    font-family:'Big Shoulders Display';
    color: var(--very-light);
    margin-left:2rem;
}
p{
    font-family:'Lexend Deca';
    color: var(--trans-white);
    font-size:15px;
    margin-left: 2rem;
    margin-right: 2rem;
}
a{
    background-color:var(--very-light);
    margin:2rem;
    display:inline-block;
    padding:1rem;
    border-radius:30px;
    font-family:'Lexend Deca';
}
.ad img{
    margin:2rem;
}
.orange a{
    color: var(--bright-orange)
}
.green a{
    color: var(--dark-cyan);
}
.dark-green a{
    color: var(--very-dark)
}

@media only screen and (min-width:376px){
    .ad{
        display:flex;
        flex-direction: row;
    }
    .orange{
        border-radius: 10px 0 0 10px;
    }
    .dark-green{
        border-radius: 0 10px 10px 0;
    }
    a:hover{
        border:1px solid var(--trans-white);
        color:var(--trans-white);
        background-color:#FFFFFF00;
    }
}